@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

.navbar {
    background-color: #000;
    position: sticky;
    top: 0;
    width: auto;
    min-width: 350px;
    /* height: 50px; */
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    
}

.navbar a {
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 1rem;
    text-decoration: none;
    transition: all 0.5s ease;
}

.navbar a:hover {
    background-color: #009688;
}

.home {
    background-color: #009688;
    width: auto;
    padding: 1rem 0rem;
}

.image-container {
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.image {
    width: 100%;
    height: 60vh;
    min-width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bottom-left {
    position: absolute;
    bottom: 35%;
    left: 2%;
    color: #fff;
    border-radius: 4px;
    font-size: 1.4rem;
    background-color: #000;
    padding: 1rem;
    z-index: 1;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    min-width: 350px;

}

.team-head {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 400;
}

.meta {
    font-size: 1.2rem;
}

.office {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
}

.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.person-image {
    border-radius: 50%;
    width: 90%;
    height: 90%;
}

.person-name {
    font-size: 1.5rem;
}

.person-position {
    color: grey;
    font-size: 1.2rem;
}

.work {
    min-width: 350px;
    background-color: #333333;
    margin-top: 100px;
    width: auto;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.description {
    padding: 1rem;
    color: #fff;
    width: 20%;
    font-size: 1.2rem;

}

.description p {
    margin-top: 2rem;
}

.cards {
    min-width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
}

.nature-img {
    width: 100%;
    height: 200px;
}

.meta {
    width: auto;
    background-color: #fff;
    height: auto;
    padding: 1rem;
}

.meta p {
    margin-block: 1rem;
}

.contact-us {
    min-width: 350px;
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: auto 60%;
    padding: 4rem;
}

.contact {
    font-size: 1.5rem;
    font-weight: bold;
    /* border-bottom: 5px solid #009688; */
    text-decoration: underline;
    text-decoration-color: #009688;
    text-decoration-thickness: 5px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 2rem;
}

.form {
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 0 8px grey;
    margin-top: 1rem;
}

.input {
    border: none;
    box-shadow: 0 2px 4px grey;
    height: 50px;
    width: 100%;
}

.labels {
    font-size: 1.1rem;
    margin-bottom: .4rem;
    letter-spacing: 3px;
    font-weight: bold;
}

.inputs {
    margin-block: 1rem;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input~.checkmark {
    background-color: rgb(231, 225, 225);
}

.container input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.button {
    background-color: #000;
    color: #fff;
    padding: .7rem 1.5rem;
    cursor: pointer;
}

.footer {
    min-width: 350px;
    width: auto;
    height: auto;
    padding-bottom: 1rem;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon {
    background-color: #009688;
    color: #fff;
    padding: 1rem 1.3rem;
    border-radius: 4px;
}

.social {
    border-radius: 50%;
}

.footer h4 {
    min-width: 350px;
    color: #fff;
    font-size: 1.4rem;
    margin-top: 20px;
}

.hamburger {
    display: none;
}

.search {
    cursor: pointer;
}

@media screen and (max-width: 606px) {
    .nav-menu {
        display: none;
    }

    .form {
        background-color: #fff;
        padding: 1rem;
        box-shadow: 0 0 8px grey;
        margin-top: 1rem;
    }

    .contact-us {
        display: block;
    }

    .description {
        padding: 0rem;
        color: #fff;
        width: 100%;
        font-size: 1.2rem;
    }

    .work-card {
        width: 100%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .search {
        display: none;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 50px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: #262626;
        z-index: 2;
        width: 100%;
        text-align: center;
        transition: 0.3s;
      }

      .nav-menu.active{
        left: 0;
      }
      .nav-menu a{
        margin: 16px 0;
      }
}

@media screen and (max-width: 1100px) {
    .description {
        padding: 0rem;
        color: #fff;
        width: 100%;
        font-size: 1.2rem;
    }
}